*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 30px;
}

.custumcards{
    border: 3px solid black;
    width: 100%;
    font-size: 0.5em;
    padding: 100px 10px 10px 20px;
    margin: 5px;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: grey;
    
}

.productcards{
    border: 2px solid black;
    height: 400px;
    width: 300px;
    border-radius: 50px;
    text-align: center;
    padding: 8px;
    margin: 10px 0px;
    background-color: white;
    box-shadow: 10px 10px rgb(red, green, blue);
}

.custumcards img{
     height: 8em;
     width: 8em;
}

.productcards img{
    height:280px;
    width:250px ;
}

.productcards:hover{
    scale: 1.2;
    box-shadow: 10px 10px  rgb(233, 228, 228);

}