*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 .container{
     height: 400px;
     width: 250px;
     border: 1px solid black;
     border-radius: 5px;
     padding: 10px;
     background-color: black;
 }
 body{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     height:100vh;
 }
 #userinput{
     border-style:1px solid gray;
     height: 80px;
     width: 100%;
     border-radius: 5px;
     background-color: rgb(225, 225, 231);
 }
 .keypad button{
     border-radius: 50%;
     height: 40px;
     width: 40px;
     border-style: none;
     margin: 10px 3px;
 }
 .keypad{
    padding: 0px 15px;
 }
 .keypad button:hover{
    scale:1.2;
 }