*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

.custum_container{
    border: 1px solid black;
    height: 500px;
    width: 200px;
    overflow:scroll;
    
}
.body{
    height: 1600px;
}

.bigbox{
    border: 1px solid black;
    height: 400px;
    width: 500px;

}

.smallbox{
    border:1px solid black;
    height: 100px;
    width: 100px;
    color: white;
}
.smallbox h1{
    font-size: 15px;
   

}

/* Relative
 An element with position: relative; is positioned relative to its normal position. */
#box1{
    background-color: blue;
    position: relative;
    left: 80px;
  
}
#box2{
    background-color: blueviolet;
    position:absolute;
    left: 100px;
}

#box3{
    background-color: red;
    position: fixed;
    left: 200px;
    top: 0px;
    }

#box4{
    background-color: rgb(53, 13, 89);
    z-index: 1;
    position: sticky;
    top: 10px;
    
}
#box5{
    background-color:gray;
    position: static;

}
