*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.custumcards{
    border: 1px solid black;
    width: 96%;
    font-size: 0.7em;
    padding: 50px 20px 20px 30px;
    margin: 20px;
    
    font-family: Arial, Helvetica, sans-serif;
   display: flex;
   justify-content: space-evenly;
   flex-wrap:wrap;

    /* display: flex;
    flex-direction: column;
align-items:center; */


   
}
.productcard{
    border: 1px solid gray;
    height: 300px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 10px 0px;
    background-color: white;
    /* box-shadow: 10px 10px  rgb(233, 228, 228); */
}
.custumcards img{
    height: 8em;
    width: 8em;
}
.productcard:hover{
    scale: 1.2;
    box-shadow: 10px 10px  rgb(233, 228, 228);

}
