.ubsticky_left,  .ubsticky_right{
    bottom: 0px !important;
    right: 35px !important;
}
.ubsticky_left .content_video-dimensions, .ubsticky_right .content_video-dimensions {
    width: 320px !important;
    height: 180px !important;
}
#unibots-video {
    width: 340px !important;
    /* width: 360px !important; */
    height: 260px !important;
    z-index: 0 !important;
}
#div-ub-irctc{
    z-index: 0 !important;
}
/* iframe css starts here */
.pcFrame{
    height: 390px;
    width: 640px;
    margin: auto;
}
.pcFrame2{
    height: 260px;
    width: 400px;
    margin: auto;
}
.mbFrame{
    height:255px;
    width:auto;
    margin: auto;
}
.pcStickyFrame{
    width: 400px !important;
    height: 255px !important;
}
.mbStickyFrame{
    width: 192px !important;
    height: 138px !important;
}
.vpStickyPC .content_video-dimensions{
    width: 400px !important;
    height: 225px !important;
}
.vpStickyMB .content_video-dimensions{
    width: 192px !important;
    height: 108px !important;
}
/* iframe css ends here */
.ubp-cbutton::before {
    content: "Learn More";
}
#ubVideo{
    box-shadow: none !important;
}
@media (max-width: 481px) {
    .ubsticky_left .content_video-dimensions, .ubsticky_right .content_video-dimensions {
        width: 192px !important;
        height: 108px !important;
    }
    /*.ubsticky_left,  .ubsticky_right{
        bottom: 170px !important;
    }*/
    .ui-dialog-mask{
        z-index: 11111 !important;
    }
    #div-ub-irctc{
        /* margin-left:0px !important; */
        margin-left:1.5px !important;
        margin: auto !important;
    }
}


#div-ub-irctc button {
    border-color: transparent !important;
    box-shadow: none !important;
}

#div-ub-irctc button:hover {
    border-color: transparent !important;
    box-shadow: none !important;
}
